<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD-Z_GLmqqkodIb-J1z-ojlrzyjLp7Dm3Q</string>
	<key>GCM_SENDER_ID</key>
	<string>473175772830</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.spatchFlutter</string>
	<key>PROJECT_ID</key>
	<string>spatch1-f97ce</string>
	<key>STORAGE_BUCKET</key>
	<string>spatch1-f97ce.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:473175772830:ios:e4acb9d7eedc50a87fb58f</string>
</dict>
</plist>